body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}
.container {
    padding: 10px;
    max-width: 800px; 
}
.elektronik-container {
    text-align: center;
    background-color: transparent;
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #333; 
    margin-bottom: 30px;
}
.card {
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 30px;
    width: 100%;
    max-width: 500px;
}
.form-control {
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 12px;
    margin-bottom: 15px;
    width: 100%;
}
.form-control:focus {
    border-color: #5cb85c;
    box-shadow: 0 0 5px rgba(92, 184, 92, 0.5);
}
.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
    width: 100%;
}
.btn-primary:hover {
    background-color: #218838; 
    border-color: #1e7e34;
}
.mt-3 {
    margin-top: 20px;
}
.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 5px;
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group .form-control {
    width: 90%; 
}
.form-label {
    width: 100%; 
    display: inline-block; 
    margin-bottom: 0.5rem; 
}
